In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
import random

In [2]:
def import_data(path):
    try:
        data = pd.read_csv(path)
        return data
    except:
        raise IOError

In [14]:
def unusl_value_process(data):
    #处理空值
    data["work_status"].fillna(0, inplace=True)
    data["work_yr"].fillna(0,inplace=True)
    data["work_type"].fillna(0,inplace=True)
    data["work_manage"].fillna(0,inplace=True)
    data["family_income"].fillna(data["family_income"].mean(),inplace=True)
    
    #处理负数
    #happiness
    data.drop(list(data[data["happiness"]<0].index),inplace=True)
    #nationlity   按概率产生整数
    p = np.array([0.6,0.05,0.05,0.05,0.05,0.05,0.05,0.1])
    i = np.random.choice([1,2,3,4,5,6,7,8], p = p.ravel())
    data.loc[data[data["nationality"]<0].index,"nationality"] = i  
    
    #religion
    a1 = data[data["religion"]==0]["religion"].value_counts().sum() / data[data["religion"]>=0]["religion"].value_counts().sum()
    a = np.array([a1,1-a1])
    data.loc[data[data["religion"]<0].index,"religion"] = np.random.choice([0,1],p=a.ravel())
    
    #religion_freq
    data.drop(list(data[data["religion_freq"]<0].index),inplace=True)
    #edu:
    data.drop(list(data[data["edu"]<0].index),inplace=True)
    #income
    data.loc[data[data["income"]<0].index,"income"] = data["income"].mean()
    #political
    p1 = data[data["political"]==1]["political"].value_counts().sum() / data[data["political"]>0]["political"].value_counts().sum()
    p2 = data[data["political"]==2]["political"].value_counts().sum() / data[data["political"]>0]["political"].value_counts().sum()
    p3 = data[data["political"]==3]["political"].value_counts().sum() / data[data["political"]>0]["political"].value_counts().sum()
    #p4 = data[data["political"]=4]["political"].value_counts().sum() / data[data["political"]>=0]["political"].value_counts.sum()
    p = np.array([p1,p2,p3,(1-p1-p2-p3)])
    data.loc[data[data["political"]<0].index,"political"] = np.random.choice([1,2,3,4],p=p.ravel())
    #health
    data.loc[data[data["health"]<0].index,"health"] = random.randint(1,5)
    #health_problem
    data.loc[data[data["health_problem"]<0].index,"health_problem"] = random.randint(1,5)
    #depression
    data.loc[data[data["depression"]<0].index,"depression"] = random.randint(1,5)
    #socialize
    data.loc[data[data["socialize"]<0].index,"socialize"] = random.randint(1,5)
    #relax
    data.loc[data[data["relax"]<0].index,"relax"] = random.randint(1,5)
    #learn
    data.loc[data[data["learn"]<0].index,"learn"] = random.randint(1,5)
    #equity
    data.loc[data[data["equity"]<0].index,"equity"] = random.randint(1,5)
    #class
    data.loc[data[data["class"]<0].index,"class"] = random.randint(1,10)
    #family_m
    data.loc[data[data["family_m"]<0].index,"family_m"] = random.randint(1,4)
    #family_status
    data.loc[data[data["family_status"]<0].index,"family_status"] = random.randint(1,5)
    #house
    h = np.array([0.6,0.2,0.1,0.05,0.05])
    data.loc[data[data["house"]<0].index,"house"] = np.random.choice([1,2,3,4,5],p=h.ravel())
    #car
    c = np.array([0.2,0.3,0.5])
    data.loc[data[data["car"]<0].index,"car"] = np.random.choice([0,1,2],p=c.ravel())
    #status_peer
    data.loc[data[data["status_peer"]<0].index,"status_peer"] = random.randint(1,3)
    #status_3_before
    data.loc[data[data["status_3_before"]<0].index,"status_3_before"] = random.randint(1,3)
    #view
    data.loc[data[data["view"]<0].index,"view"] = random.randint(1,5)
    #inc_ability
    i1 = data[data["inc_ability"]==1]["inc_ability"].value_counts().sum() / data[data["inc_ability"]>=1]["inc_ability"].value_counts().sum()
    i2 = data[data["inc_ability"]==2]["inc_ability"].value_counts().sum() / data[data["inc_ability"]>=1]["inc_ability"].value_counts().sum()
    i3 = data[data["inc_ability"]==3]["inc_ability"].value_counts().sum() / data[data["inc_ability"]>=1]["inc_ability"].value_counts().sum()
    #i4 = data[data["inc_ability"]=4].value_counts().sum() / data["inc_ability"].value_counts().sum()
    i = np.array([i1,i2,i3,(1-i1-i2-i3)])
    data.loc[data[data["inc_ability"]<0].index,"inc_ability"] = np.random.choice([1,2,3,4],p=i.ravel())

In [15]:
data = import_data("./happiness_train_abbr.csv")

In [16]:
data.isnull().sum()

id                    0
happiness             0
survey_type           0
province              0
city                  0
county                0
survey_time           0
gender                0
birth                 0
nationality           0
religion              0
religion_freq         0
edu                   0
income                0
political             0
floor_area            0
height_cm             0
weight_jin            0
health                0
health_problem        0
depression            0
hukou                 0
socialize             0
relax                 0
learn                 0
equity                0
class                 0
work_exper            0
work_status        5049
work_yr            5049
work_type          5049
work_manage        5049
family_income         1
family_m              0
family_status         0
house                 0
car                   0
marital               0
status_peer           0
status_3_before       0
view                  0
inc_ability           0
dtype: int64

In [17]:
#各列负数的个数
for i in data.columns:
    if data[i].dtype == "int64":
        print("{:s}:{:d}".format(i,data[data[i]<0][i].value_counts().sum()))

id:0
happiness:12
survey_type:0
province:0
city:0
county:0
gender:0
birth:0
nationality:18
religion:108
religion_freq:15
edu:11
income:441
political:41
height_cm:0
weight_jin:0
health:5
health_problem:43
depression:16
hukou:0
socialize:6
relax:17
learn:21
equity:42
class:81
work_exper:0
family_m:22
family_status:46
house:118
car:10
marital:0
status_peer:49
status_3_before:48
view:208
inc_ability:965

In [18]:
unusl_value_process(data)

In [19]:
#各列负数的个数
for i in data.columns:
    if data[i].dtype == "int64":
        print("{:s}:{:d}".format(i,data[data[i]<0][i].value_counts().sum()))

id:0
happiness:0
survey_type:0
province:0
city:0
county:0
gender:0
birth:0
nationality:0
religion:0
religion_freq:0
edu:0
political:0
height_cm:0
weight_jin:0
health:0
health_problem:0
depression:0
hukou:0
socialize:0
relax:0
learn:0
equity:0
class:0
work_exper:0
family_m:0
family_status:0
house:0
car:0
marital:0
status_peer:0
status_3_before:0
view:0
inc_ability:0

In [20]:
data.isnull().sum()

id                 0
happiness          0
survey_type        0
province           0
city               0
county             0
survey_time        0
gender             0
birth              0
nationality        0
religion           0
religion_freq      0
edu                0
income             0
political          0
floor_area         0
height_cm          0
weight_jin         0
health             0
health_problem     0
depression         0
hukou              0
socialize          0
relax              0
learn              0
equity             0
class              0
work_exper         0
work_status        0
work_yr            0
work_type          0
work_manage        0
family_income      0
family_m           0
family_status      0
house              0
car                0
marital            0
status_peer        0
status_3_before    0
view               0
inc_ability        0
dtype: int64

In [21]:
data.describe()

,id,happiness,survey_type,province,city,county,gender,birth,nationality,religion,...,family_income,family_m,family_status,house,car,marital,status_peer,status_3_before,view,inc_ability
count,7964.000000,7964.000000,7964.000000,7964.000000,7964.000000,7964.000000,7964.00000,7964.000000,7964.000000,7964.000000,...,7.964000e+03,7964.000000,7964.000000,7964.000000,7964.000000,7964.000000,7964.000000,7964.000000,7964.000000,7964.000000
mean,4002.916248,3.868659,1.406454,15.164867,42.591035,70.656956,1.53001,1964.712330,1.394651,0.894776,...,6.790803e+04,2.898167,2.653817,1.138875,1.828478,3.233802,2.286665,1.762180,3.641010,2.300728
std,2310.122072,0.818490,0.491202,8.918207,27.191160,38.745373,0.49913,16.838113,1.463895,0.306860,...,2.915688e+05,1.498730,0.716552,0.709669,0.376988,1.422830,0.547682,0.620667,0.749452,0.541944
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1921.000000,1.000000,0.000000,...,-3.000000e+00,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2002.750000,4.000000,1.000000,7.000000,18.000000,37.000000,1.00000,1952.000000,1.000000,1.000000,...,1.300000e+04,2.000000,2.000000,1.000000,2.000000,3.000000,2.000000,1.000000,3.000000,2.000000
50%,4005.500000,4.000000,1.000000,15.000000,42.000000,73.000000,2.00000,1965.000000,1.000000,1.000000,...,3.840000e+04,3.000000,3.000000,1.000000,2.000000,3.000000,2.000000,2.000000,4.000000,2.000000
75%,6003.250000,4.000000,2.000000,22.000000,65.000000,104.000000,2.00000,1977.000000,1.000000,1.000000,...,7.000000e+04,4.000000,3.000000,1.000000,2.000000,3.000000,3.000000,2.000000,4.000000,3.000000
max,8000.000000,5.000000,2.000000,31.000000,89.000000,134.000000,2.00000,1997.000000,8.000000,1.000000,...,9.999992e+06,50.000000,5.000000,30.000000,2.000000,7.000000,3.000000,3.000000,5.000000,4.000000

In [22]:
data.to_csv("./new_train.csv")